################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Bomberman_GitFinal/FileContentIndex/52e890a2-432d-4dea-90a7-b4cdc94d5ffd.vsidx
/.vs/Bomberman_GitFinal/FileContentIndex
/.vs/slnx.sqlite
